@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 770px) {
	
}

@media only screen and (max-width: 670px) {
  .head .head-icons {
    margin-right: 0;
    width: 100%;
  }
  .head .head-icons__callback {
    margin-left: 0;
    width: 50%;

  }
  .head .head-icons__socials {
    width: 50%;
  }
  .head .head-icons span {
    display: none;
  }
  .home .melody-lab-bg {
    top: 173px;

  }
  .home .melody-lab-bg img {
    height: 100px;
  }
  .home #melody-note {
    position: absolute;
    right: 66px;
    top: 173px;
  }
  .home #melody-note img{
    height: 100px;
  }
  .home p {
    width: 100%;
    top: 300px;
    font-size: 100%;
    text-align: center;
    left: -1px;
    margin-top: 30px;
  }
  .footer .nav li:nth-child(2) {
    margin: 0px 29px;
  }
}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	
}